<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    # Check if the requested resource exists in the public folder
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]

    # Redirect everything to index.php
    RewriteCond %{REQUEST_URI} ^/public/
    RewriteRule ^ public/index.php [L]
</IfModule>
